Unit1/MarsWeek/.vscode/
Unit1/MarsWeek/bin/
Unit1/MarsWeek/src/*.class
Unit1/MarsWeek/lib/
.vscode/
bin/
Unit2/CupcakeWeek/.vscode/
Unit2/CupcakeWeek/lib
Unit3/.settings
Unit3/target/
Unit3/src/test/
Unit3/.classpath
Unit3/.project
Unit3/mvnw
Unit3/mvnw.cmd
Unit3/pom.xml
Unit3/src/main/resources/application.properties
Unit3/src/main/resources/hibernate.cfg.xml